<div class="modal" id="modal-depoimento">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3 class="text-center">Escreva seu depoimento</h3>

            <button class="close-button">
                <i class="alpha alpha-times" aria-hidden="true"></i>
            </button>
        </div>

        <div class="modal-body">
            <form id="formulario-escrever-depoimento" action="">

                <div class="campo-form">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" required>
                </div>

                <div class="campo-form">
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                </div>

                <div class="campo-form">
                    <label for="telefone">Telefone</label>
                    <input type="tel" name="telefone">
                </div>

                <div class="campo-form">
                    <label for="endereco">Endereço</label>
                    <input type="text" name="endereco">
                </div>

                <div class="campo-form">
                    <label for="cidade">Cidade</label>
                    <input type="text" name="cidade">
                </div>


                <div class="campo-form">
                    <label for="assunto">Assunto</label>
                    <input type="text" name="assunto" required>
                </div>

                <div class="campo-form">
                    <label for="mensagem">Mensagem</label>
                    <textarea name="mensagem"></textarea>
                </div>

                <div class="row">
                    <div class="campo-form">
                        <input class="btn btn-default" type="submit" name="submit" value="Enviar Mensagem">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>