* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

img {
	border: 0;
	height: auto;
	vertical-align: middle;
	transition:all .2s ease-in-out;
}

body {
	overflow-x: hidden;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
}

a {
	color: $color-theme;
	text-decoration: none;
}

nav {
	list-style-type: none;
	display: inline;
}

header {
	display: block;
}

button {
	outline: 0;
	border: 3px;
	cursor: pointer;
	font-size: 1rem;
	background: transparent;
	transition: all .2s ease-in-out;
}

hr {
	border: 1px solid currentColor;
	width: 100%;
	display: block;
}

blockquote {
	background-color: rgba(151, 178, 232, 0.27);
	padding: 15px;
}

footer {
	width: 100%;
	clear: both;
	padding: 10px 0;
	position: relative;
	color: $text-white;
	background: $bg-dark;
}

ol {
	display: block;
}

.mt-50p {
	margin-top: 50px;
}

.mb-50p {
	margin-bottom: 50px;
}

.flex {
	display: flex;
}

.fixed {
	position: fixed!important;
}

.full {
	width: 100%;
	height: 100vh;
	display: block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.center-block {
	margin-right: auto!important;
	margin-left: auto!important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.top-buffer {
	padding-top: 50px;
}

.middle {
	align-items: center;
}

.content-start {
	align-items: flex-start;
}

.content-end {
	align-items: flex-end;
}

.content-center {
	justify-content: center;
}

.transparent {
	background: transparent!important;
}

.m-10 {
	margin: 10px;
}

.nav-up {
	top: -100%;
}

.nav-down {
	top: 0;
}
