// COLORS
// ---------------------

$amarelo: #FAF405;
$azul: #1F2460;
$branco: #ffffff;
$cinza: #ecf0f1;
$verde: #a5d026;
$verde-escuro: #82a51a;
$verde-dark: #4b6303;
$vermelho: #cc0606;
$laranja: #f0a000;

$bg-dark: #252A34;
$bg-white: #f2f3f9;
$text-dark: $bg-dark;
$text-white: $bg-white;


// SETTINGS
// ---------------------

$total-col:	12;
$color-theme: $azul;
$navbar-height: 65px;
$navbar-position: absolute;


// GRID LAYOUTS
// ---------------------

$landing-page:		"header header header"
    				"main   main   main"
   					"footer footer footer";

$one-sidebar-right: "header header header"
    				"main   main   side-right"
   					"footer footer footer";

$one-sidebar-left: "header header header"
    				"side-left   main   main"
   					"footer footer footer";

$two-sidebars:		"header header header"
    				"side-left   main   side-right"
   					"footer footer footer";

$two-sidebars-right:"header header header"
    				"main   side-left   side-right"
   					"footer footer footer";

$two-sidebars-left:"header header header"
    				"side-left   side-right   main"
   					"footer footer footer";

$auto-row: auto;


// BREAKPOINTS
// ---------------------

$mobile: 480px;
$tablet: 960px;
$notebook: 1200px;
$desktop: 1201px;
