@import "variables";
@import "base";
@import "mixins";
@import "modules/grid";
@import "modules/typo";
@import "modules/modal";
@import "modules/navbar";
@import "modules/buttons";
@import "modules/carousel";
@import "modules/animations";
@import "modules/responsiveness";
@import "modules/slick";
@import "modules/slick-theme";
@import "modules/font-awesome/style";

body {
  @include make-body($bg-white, 16px);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
	@include make-navbar($bg-dark);
  line-height: $navbar-height;

  li a {
    text-transform: uppercase;
  }
}

// SECTIONS
// -------------------------------

header {
  background: url(../img/header.jpg);
  background-position: center;
  display: flex;
  justify-content: flex-end;
  margin-top: $navbar-height;
  min-height: 300px;
  padding: 10px;
  width: 100%;
  transform: translate3d(0, 0%, 0);
	-webkit-transform: translate3d(0, 0%, 0);

  nav ul li {
    list-style: none;

    a {
      color: $verde;
      font-family: Montserrat;
      font-weight: 600;
    }
  }

  #pv-logo {
    max-width: 150px;
  }

  #menu-social {

    li {
      display: inline;
      list-style: none;

      a {
        color: $verde;
      }
    }

  }
}

label.btn,
label[for^="modal"] {
  cursor: pointer;
}

#noticias {
  background-color: $azul;
  transition: all .2s;

  img {
    width: 100%;
  }

  #ultimas-noticias {
    padding-right: 50px;
    padding-left: 50px;

    h2 {
      color: $verde;
    }

    .noticia-home {
      color: $branco;
      padding: 5px 0;

      h4 {
        cursor: pointer;
        font-size: larger;
      }

      span {
        color: $verde;
        font-weight: bold;
      }
    }
  }
}


#galeria-de-fotos {
  background: url(../img/fundo-galeria.png) $verde no-repeat center left;
  padding: 50px 0;

  h3 {
    color: $verde-dark;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}

#agenda {
  background: url(../img/fundo-agenda.png) #82a51a no-repeat;
  background-position: left;
  padding: 50px 0;
}

  h2{
    @media (max-width: $tablet) {
      text-align: center;
    }
  }

.evento {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  width: 100%;
  @media (max-width: $tablet) {
    flex-direction: column;
  }

  .data-evento {
    align-items: center;
    background-color: $verde-dark;
    color: $branco;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    @media (min-width: $tablet + 1) {
      margin-right: 10px;
      max-width: 100px;
    }

    h3 {
      margin-top: -10px;
    }

    b {
      display: block;
      font-size: 220%;
      font-weight: bolder;
      margin-bottom: -20px;
    }
  }

  .descricao-evento {
    background-color: $branco;
    flex-grow: 1;
    padding: 10px;
    @media (max-width: $tablet) {
      text-align: center;
    }

    h4 {
      color: $verde-dark;
      font-weight: bolder;
      font-size: 1.5rem;
    }
  }
}


#agenda-container {
  flex-grow: 2;
}

#navegacao-agenda {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  text-align: right;

  @media (max-width: $tablet) {
    margin-left: 10px;
  }

  .page_link {
    display: none;
  }

  a {
    padding: 5px;
  }
}

#transparencia {
  background: url(../img/fundo-transparencia.png) $azul no-repeat center left;
  background-size: contain;
  color: $amarelo;
  padding: 50px 0;

  h2 {
    font-weight: bold;
  }

  #gastos {

    .gasto-publico {
      background-color: $verde;
      color: $azul;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
      text-align: center;
      transition: all .2s;

      i {
        margin-bottom: 20px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 4px 4px 14px rgba(0,0,0,.3);
        transform: scale(1.1);
      }
    }
  }
}

#depoimentos {
  background: url(../img/fundo-depoimentos.png) $verde no-repeat center left;
  background-size: contain;
  padding: 50px 0;

  .foto-depoimento-home {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    max-height: 150px;
    width: 90%;

    img {
      width: 100%;
    }
  }

  .depoimento-home {
    background-color: $branco;
    padding: 10px;
  }
}

#escrever-depoimento {
  padding: 10px 20px;
  font-weight: 600;
  margin: 10px 5px;
  border-radius: 3px;
  box-shadow: 4px 4px 14px rgba(0,0,0,.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  transition: all .17s ease-in-out;
  cursor: pointer;
  margin-top: -45px;
  position: absolute;
  right: 6.4vw;
  color: #fff;
  background-color: #1f2460;
}

.modal form {

  .campo-form {
    padding: 3px 6px;
  }

  label {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea,
  select {
    background-color: $branco;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    display: block;
    padding: 10px;
    width: 100%
  }

  label[for="upload"] {
    display: block;
    padding: 1em 2em;
    color: #fff;
    background: $azul;
    border-radius: .4em;
    text-align: center;
    transition: all .3s;
    
    &:hover {
      cursor: pointer;
      background: #222;
    }
  }

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
  }

  textarea {
    min-height: 80px;
  }

  input[type="submit"] {
    border: none;
    padding: 10px 20px;
    width: auto;
  }
}

#redes-sociais {
  background-color: $azul;
  padding: 50px 0;
}

#titulo-pagina {
  background-color: $verde;
  color: #2c4120;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;

  h2 {
    font-size: 1.7rem;
    font-weight: 900;
  }
}

#titulo-subpagina {
  background-color: $azul;
  color: $branco;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;

  h3 {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

#leis {
  padding: 50px 0;

  .lei {
    background: $branco;
    padding: 10px;

    .lei-header {
      align-items: center;
    }

    .icone-lei {
      margin-right: 10px;
    }

    h3 {
      color: $laranja;
    }
  }
}

.leia-mais {
  padding-top: 10px;
}

.noticia-interna {
  background: $branco;
  padding: 20px!important;


  .noticia-titulo {
    margin-bottom: 30px;

    h2 {
      font-size: 2rem;
      margin: 10px auto;
    }

    sub {
      color: rgba(0,0,0,0.5);
    }
  }

  img[align=left] {
    margin-right: 10px;

    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  img[align=right] {
    margin-left: 10px;

    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .menu-noticia-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .acessibilidade {
      align-items: center;
      color: rgba(0,0,0,0.5);
      display: flex;
    }

    .icones-noticia-header {
      ul li {
        cursor: pointer;
        display: inline;
        list-style: none;
        padding: 0 5px;

        a {
          color: inherit;
          font-weight: 600;
        }
      }
    }
  }

  .noticia-body {
    a {
      color: $color-theme;
    }

    h4 {
      font-weight: bold;
    }
  }

  .noticia-footer {
    margin-top: 30px;
    justify-content: space-between;
    font-size: 0.8rem;
  }

}

.tab-group {
  align-items: center;
  background-color: #4f5381;
  display: flex;
  color: $branco;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 30px;

  .tab-item {
    border-right: 1px solid rgba(255, 255, 255, 0.21);
    list-style: none;
    padding: 10px;
    text-align: center;
    width: 25%;

    a {
      align-items: center;
      color: $branco;
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.active {
        &:after {
          content: "";
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 15px solid #4f5381;
          margin-top: 50px;
          position: absolute;
        }
      }
    }

    i {
      display: block;
      font-size: 20px;
    }

    span {
      font-size: .9rem;
    }

    &:last-child {
      border: none;
    }
  }

}

.tabs {
  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

#atuacao-contas {
  padding: 50px 0;
}


.publicidade {
  align-items: center;
  background: $verde;
  color: $verde-dark;
  display: flex;
  font-weight: 900;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.noticia {
  background-color: $branco;
  margin-bottom: 30px;


  .noticia-thumb img {
    width: 100%;
  }

  .data-noticia {
    margin-top: 10px;

    b {
      display: block;
      font-size: 2.2rem;
      line-height: 1rem;
    }
  }

  .noticia-resumo {
    padding: 25px;

    .noticia-conteudo {
      margin-left: 10px;

      h2 {
        color: $laranja;
        font-weight: 300;
        line-height: 1;
      }

      sub {
        color: rgba(0, 0, 0, 0.5);

        a {
          color: $laranja;
        }
      }

      p {
        font-size: 0.9rem;
        margin: 20px 0;
      }
    }
  }
}

#pagina-noticias {
  padding: 50px 0;

  aside {
    background-color: $branco;
    border-top: 2px solid #007630;
    border-radius: 5px;
    font-weight: 600;
  }

  #noticias-sidebar-header {
    font-family: Montserrat,sans-serif;
    line-height: 40px;
    padding: 10px;
    padding-top: 13px;
  }

  #noticias-sidebar-body {

    ul li {
      list-style: none;
      border-top: 1px solid rgba(0,0,0,0.1);
      padding: 10px;

      a {
        color: #007630;
      }
    }
  }
}

#fale-conosco {
  padding: 50px 0;

  #form-contato {
    margin-top: 50px;
  }

  #formulario {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea,
    select {
      background-color: $branco;
      border: 1px solid #d4d4d4;
      border-radius: 3px;
      display: block;
      padding: 10px;
      width: 100%
    }

    textarea {
      min-height: 80px;
    }

    input[type="submit"] {
      border: none;
      padding: 10px 20px;
      width: auto;
    }
  }
}

#perfil-savanas {
  padding: 50px 0;

  #profile {
    #foto-do-savanas {
      box-shadow: 4px 4px 14px rgba(0,0,0,.3);
      border-radius: 5px;
      margin-bottom: 30px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .perfil-footer {
      margin-top: 30px;
      justify-content: space-between;
      font-size: 0.8rem;
    }
  }
}

#pagina-foto-interna {
  padding: 50px 0;

  .foto-container-shadow {
      box-shadow: 4px 4px 14px rgba(0,0,0,.3);
      border-radius: 5px;
      margin-bottom: 30px;
      overflow: hidden;
    }

  img {
    width: 100%;
  }

  .modal-body img {
    margin-bottom: 10px;
  }
}

#pagina-depoimentos {
  padding: 50px 0;

  .depoimento {
    padding: 10px;
    display: flex;
    flex-flow: row;
    margin-bottom: 30px;

    @media (max-width: $tablet) {
      flex-flow: column;
    }    

    .foto-depoimento {
      background-color: $azul;
      border-radius: 50%;
      box-shadow: 4px 4px 14px rgba(0,0,0,.3);
      height: 150px;
      overflow: hidden;
      max-height: 150px;
      width: 150px;

      img {
        width: 100%;
      }
    }

    .conteudo-depoimento {
      background-color: $branco;
      border-radius: 10px;
      margin-left: 50px;
      padding: 20px;
      width: 60%;

      @media (max-width: $tablet) {
        margin-left: 0;
        width: 100%;
      } 

      &::before {
        content:'';
        border-style: solid;
        border-width: 30px 30px 30px 0;
        border-color: transparent #ffffff transparent transparent;
        height: 0;
        margin-left: -50px;
        margin-top: 28px;
        position: absolute;
        width: 0;

        @media (max-width: $tablet) {
          display: none;
        } 
      }
    }
  }

  #formulario-depoimentos {
    background-color: $verde;
    margin: 50px 0;
    padding: 20px 50px;

    .campo-form {
      margin: 15px auto;
    }

    label {
      color: $azul;
      display: block;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea,
    select {
      background-color: $branco;
      border: none;
      border-radius: 5px;
      display: block;
      padding: 15px;
      width: 100%
    }

    textarea {
      min-height: 80px;
    }

    input[type="submit"] {
      border: none;
      padding: 10px 20px;
      width: auto;
    }
  }

}

#page_navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center;

  a {
    background: white;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding: 10px;
    
    &:first-child {
      border-left: 1px solid #e8e8e8;
      border-radius: 5px 0 0 5px;
    }
    
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

#pagina-galeria {
  padding: 50px 0;

  #galeria-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  img {
    width: 100%;
  }

  .foto {
    background: $branco;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;

    &-header {
      background: #ddd;
      display: block;
      min-width: 200px;
      min-height: 150px;
      width: 100%;
    }

    &-info {
      align-items: center;
      display: flex;
      padding: 10px;
    }

    .icone-foto {
      background: #E2E8F4;
      border-radius: 5px;
      color: #274472;
      font-size: 2rem;
      margin-right: 10px;
      max-width: 80px;
      text-align: center;
    }

    h3 {
      color: $laranja;
    }
  }

  .modal-body img {
    margin-bottom: 10px;
  }
}

#pagina-videos {
  padding: 50px 0;

  #videos-content {
    display: flex;
    flex-flow: row wrap;
  }

  .row > .gutter {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  img {
    width: 100%;
  }

  .video {
    background: $branco;
    border-radius: 5px;
    overflow: hidden;

    &-header {
      background: $branco;
      display: block;
      min-width: 200px;
      width: 100%;
    }

    &-info {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    .icone-foto {
      margin-right: 10px;
    }

    h4 {
      color: $laranja;
      text-align: center;
    }
  }

}

footer {
  background-color: $verde;
  padding: 20px 0;
  clear: both;
  bottom: 0;

  nav ul li {
    display: inline;
    padding: 10px;
    font-weight: bold;
  }

  #logo-vmais {
    margin-top: 30px;
    max-height: 27px;
    max-width: 65px;
  }
}


// CUSTOM
// ----------------------

.slider {
  width: 100%;
  margin: 10px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 35px;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.drawer-menu {
  li a {
    color: $verde;
  }
}

// BUTTONS
// ----------------------

@include make-button(default,$color-theme);
@include make-button(vermelho,$vermelho);
@include make-button(verde,$verde);
@include make-button(azul,$azul);


@media (max-width: $tablet) {

  #escrever-depoimento {
    display: block;
		margin: 20px auto;
    position: relative;
    right: auto;
	}

}
