//

.btn {
    padding: 10px 20px;
    font-weight: 600;
    margin: 10px 5px;
    border-radius: 3px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    text-align: center;
    transition: all .17s ease-in-out;
}

// Modifications

.btn-lg {
    padding: 20px 40px;
    font-size: 1.5rem;
}

.btn-sm {
    padding: 10px;
    font-size: .6rem;
}


.rounded {
	border-radius: 30px;
}

button > i {
	padding-right: 10px;
}

button img {
  width: 20px;
  margin-right: 10px;
}
