.container {
	width: 85vw;
	margin: 0 auto;
	max-width: 1200px;
}

.row {
	display: flex;
	padding: 10px 0;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.row.no-gutter {
	padding: 0;
}

.grid-header {
  grid-area: header;
}

.grid-main {
  grid-area: main;
}

.grid-side-left {
  grid-area: side-left;
}

.grid-side-right {
  grid-area: side-right;
}

.grid-footer {
  grid-area: footer;
}

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      -ms-flex-positive: 1;
          flex-basis: 0;
          flex-grow: 1;
}

.gutter {
	padding-left: 10px;
	padding-right: 10px;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

@for $i from 1 through $total-col {
	.col-#{$i} {
  		width: 100%;

  		&:first-child {
  			padding-left: 0;
  		}

  		&:last-child {
  			padding-right: 0;
  		}
	}
}
