.navbar {
	top: 0;
	z-index: 10;
}

.navbar li,
.nav-menu ul,
.drawer-menu ul {
	display: inline;
	list-style: none;
}

.nav-menu {
	font-family: sans-serif;
	display: inline;
	transition:all .2s ease-in-out;
}

.nav-menu li {
	text-decoration: none;
	transition:all .2s ease-in-out;
	padding: 10px 20px;

	a {
		color: $verde;
		font-family: Montserrat;
		font-weight: 600;
	}

	&:hover {
		background: rgba(255,255,255,0.1);
	}

}

.brand {
	align-items: center;
	display: inline-flex;
	max-height: 10vh;
}

.drawer {
	background-image: none;
	background-color: transparent;
	border: none;
	display: none;
  height: 10vh;
  margin-left: -6vw;
  margin-right: 3vw;
  padding: 0;
	-webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
	width: 10vh;
  z-index: 10;
	position: absolute;
	float: right;
	right: 50px;

    & .icon-bar {
    	background-color: #fff;
	    display: block;
	    width: 40px;
	    height: 5px;
	    margin-top: 6px;
	    margin-left: auto;
			margin-right: auto;

		&:first-child {
			margin-top: 0;
		}
    }

    &:hover, &:active {
    	background: rgba(255,255,255,0.1);
    }
}

.drawer-menu {
  display: none;
  transition: all .3s ease-in-out;
  background: #1b1f27;
  box-shadow: 2px -30px 38px -1px rgba(0,0,0,.4);
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9;
  text-align: center;
  font-size: 1.4rem;

  & li {
  	&:hover {
  		background: rgba(255,255,255,.1);
  	}
	}
}

.hide-drawer {
	width: 0vw!important;
	right: -35vw;
	display: none!important;
}

.overlay {
	overflow: hidden;
}
