@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

img {
  border: 0;
  height: auto;
  vertical-align: middle;
  transition: all .2s ease-in-out; }

body {
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400; }

a {
  color: #1F2460;
  text-decoration: none; }

nav {
  list-style-type: none;
  display: inline; }

header {
  display: block; }

button {
  outline: 0;
  border: 3px;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  transition: all .2s ease-in-out; }

hr {
  border: 1px solid currentColor;
  width: 100%;
  display: block; }

blockquote {
  background-color: rgba(151, 178, 232, 0.27);
  padding: 15px; }

footer {
  width: 100%;
  clear: both;
  padding: 10px 0;
  position: relative;
  color: #f2f3f9;
  background: #252A34; }

ol {
  display: block; }

.mt-50p {
  margin-top: 50px; }

.mb-50p {
  margin-bottom: 50px; }

.flex {
  display: flex; }

.fixed {
  position: fixed !important; }

.full {
  width: 100%;
  height: 100vh;
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.center-block {
  margin-right: auto !important;
  margin-left: auto !important; }

.right {
  float: right; }

.left {
  float: left; }

.top-buffer {
  padding-top: 50px; }

.middle {
  align-items: center; }

.content-start {
  align-items: flex-start; }

.content-end {
  align-items: flex-end; }

.content-center {
  justify-content: center; }

.transparent {
  background: transparent !important; }

.m-10 {
  margin: 10px; }

.nav-up {
  top: -100%; }

.nav-down {
  top: 0; }

.container {
  width: 85vw;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  display: flex;
  padding: 10px 0; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.row.no-gutter {
  padding: 0; }

.grid-header {
  grid-area: header; }

.grid-main {
  grid-area: main; }

.grid-side-left {
  grid-area: side-left; }

.grid-side-right {
  grid-area: side-right; }

.grid-footer {
  grid-area: footer; }

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-basis: 0;
  flex-grow: 1; }

.gutter {
  padding-left: 10px;
  padding-right: 10px; }
  .gutter:first-child {
    margin-left: 0; }
  .gutter:last-child {
    margin-right: 0; }

.col-1 {
  width: 100%; }
  .col-1:first-child {
    padding-left: 0; }
  .col-1:last-child {
    padding-right: 0; }

.col-2 {
  width: 100%; }
  .col-2:first-child {
    padding-left: 0; }
  .col-2:last-child {
    padding-right: 0; }

.col-3 {
  width: 100%; }
  .col-3:first-child {
    padding-left: 0; }
  .col-3:last-child {
    padding-right: 0; }

.col-4 {
  width: 100%; }
  .col-4:first-child {
    padding-left: 0; }
  .col-4:last-child {
    padding-right: 0; }

.col-5 {
  width: 100%; }
  .col-5:first-child {
    padding-left: 0; }
  .col-5:last-child {
    padding-right: 0; }

.col-6 {
  width: 100%; }
  .col-6:first-child {
    padding-left: 0; }
  .col-6:last-child {
    padding-right: 0; }

.col-7 {
  width: 100%; }
  .col-7:first-child {
    padding-left: 0; }
  .col-7:last-child {
    padding-right: 0; }

.col-8 {
  width: 100%; }
  .col-8:first-child {
    padding-left: 0; }
  .col-8:last-child {
    padding-right: 0; }

.col-9 {
  width: 100%; }
  .col-9:first-child {
    padding-left: 0; }
  .col-9:last-child {
    padding-right: 0; }

.col-10 {
  width: 100%; }
  .col-10:first-child {
    padding-left: 0; }
  .col-10:last-child {
    padding-right: 0; }

.col-11 {
  width: 100%; }
  .col-11:first-child {
    padding-left: 0; }
  .col-11:last-child {
    padding-right: 0; }

.col-12 {
  width: 100%; }
  .col-12:first-child {
    padding-left: 0; }
  .col-12:last-child {
    padding-right: 0; }

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

span, p {
  font-size: 1.1rem; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

em {
  background-color: #efefef;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 3px; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 1.5rem; }

.uppercase {
  text-transform: uppercase; }

.branco {
  color: #ffffff; }

.ver {
  color: #cc0606; }

.verde {
  color: #a5d026; }

.azul {
  color: #1F2460; }

.verde-escuro {
  color: #82a51a; }

.laranja {
  color: #f0a000; }

.modal .btn-close {
  color: #cc0606;
  cursor: pointer;
  font-size: 5rem;
  line-height: 2rem;
  right: 5px;
  text-decoration: none; }
  .modal .btn-close:hover, .modal .btn-close:focus {
    color: #9a0505; }
  @media (max-width: 480px) {
    .modal .btn-close {
      align-self: flex-end; } }

.modal-wrap:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102; }

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
  display: block; }

.modal-open:checked ~ .modal-wrap .modal-dialog {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%; }
  @media (max-width: 480px) {
    .modal-open:checked ~ .modal-wrap .modal-dialog {
      overflow-y: scroll;
      max-height: 100vh; } }

.modal-dialog {
  background: #fefefe;
  left: 50%;
  max-width: 600px;
  position: fixed;
  top: -100%;
  transform: translate(-50%, -150%);
  transition: .6s ease-in-out;
  width: 80%;
  z-index: 103; }
  @media (max-width: 480px) {
    .modal-dialog {
      width: 100%; } }

.modal-body {
  padding: 10px 20px; }
  .modal-body p {
    margin: 0; }

.modal-header,
.modal-footer {
  padding: 20px; }

.modal-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between; }
  .modal-header a {
    text-decoration: none; }
  .modal-header h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 5px; }
  .modal-header h4 {
    display: inline-block;
    line-height: 10px;
    margin-left: 10px; }
  .modal-header .author-profile {
    margin-right: 20px; }
  .modal-header .interaction-infos {
    display: flex; }
    .modal-header .interaction-infos span {
      align-items: center;
      display: flex; }
      .modal-header .interaction-infos span strong {
        margin-right: 5px; }
      .modal-header .interaction-infos span:first-child {
        margin-right: 20px; }
    .modal-header .interaction-infos i {
      margin-right: 10px; }
  @media (max-width: 480px) {
    .modal-header {
      flex-flow: column-reverse; }
      .modal-header .author-profile {
        display: none; } }

.modal-footer {
  text-align: right; }

.navbar {
  top: 0;
  z-index: 10; }

.navbar li,
.nav-menu ul,
.drawer-menu ul {
  display: inline;
  list-style: none; }

.nav-menu {
  font-family: sans-serif;
  display: inline;
  transition: all .2s ease-in-out; }

.nav-menu li {
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: 10px 20px; }
  .nav-menu li a {
    color: #a5d026;
    font-family: Montserrat;
    font-weight: 600; }
  .nav-menu li:hover {
    background: rgba(255, 255, 255, 0.1); }

.brand {
  align-items: center;
  display: inline-flex;
  max-height: 10vh; }

.drawer {
  background-image: none;
  background-color: transparent;
  border: none;
  display: none;
  height: 10vh;
  margin-left: -6vw;
  margin-right: 3vw;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  width: 10vh;
  z-index: 10;
  position: absolute;
  float: right;
  right: 50px; }
  .drawer .icon-bar {
    background-color: #fff;
    display: block;
    width: 40px;
    height: 5px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto; }
    .drawer .icon-bar:first-child {
      margin-top: 0; }
  .drawer:hover, .drawer:active {
    background: rgba(255, 255, 255, 0.1); }

.drawer-menu {
  display: none;
  transition: all .3s ease-in-out;
  background: #1b1f27;
  box-shadow: 2px -30px 38px -1px rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9;
  text-align: center;
  font-size: 1.4rem; }
  .drawer-menu li:hover {
    background: rgba(255, 255, 255, 0.1); }

.hide-drawer {
  width: 0vw !important;
  right: -35vw;
  display: none !important; }

.overlay {
  overflow: hidden; }

.btn {
  padding: 10px 20px;
  font-weight: 600;
  margin: 10px 5px;
  border-radius: 3px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  transition: all .17s ease-in-out; }

.btn-lg {
  padding: 20px 40px;
  font-size: 1.5rem; }

.btn-sm {
  padding: 10px;
  font-size: .6rem; }

.rounded {
  border-radius: 30px; }

button > i {
  padding-right: 10px; }

button img {
  width: 20px;
  margin-right: 10px; }

.carousel-indicators {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100; }

.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity .6s ease-out; }
  .carousel-item img {
    display: block;
    height: auto;
    max-width: 100%; }

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 6.2rem;
  font-weight: bold;
  height: 40px;
  line-height: 30px;
  text-align: center;
  width: 40px;
  z-index: 7; }
  .carousel-control.prev {
    left: 2%; }
  .carousel-control.next {
    right: 2%; }
  .carousel-control:hover {
    color: #aaa; }

#carousel-1:checked ~ .control-1, #carousel-2:checked ~ .control-2, #carousel-3:checked ~ .control-3 {
  display: block; }

.carousel-indicators {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 7; }

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px; }

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 3.5rem; }
  .carousel-bullet:hover {
    color: #aaa; }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca; }

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.delay {
  animation-delay: .5s; }

@-webkit-keyframes toBlack {
  from {
    color: #f2f3f9; }
  to {
    color: #252A34; } }

.toBlack {
  -webkit-animation-name: toBlack;
  animation-name: toBlack;
  animation-delay: 1s; }

@-webkit-keyframes toWhite {
  from {
    color: #252A34; }
  to {
    color: #f2f3f9; } }

.toWhite {
  -webkit-animation-name: toWhite;
  animation-name: toWhite;
  animation-delay: 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

@-webkit-keyframes slideDown {
  from {
    top: -100%; }
  to {
    top: 0; } }

@keyframes slideDown {
  from {
    top: -100%; }
  to {
    top: 0; } }

.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown; }

@-webkit-keyframes slideUp {
  from {
    top: 0; }
  to {
    top: -100%; } }

@keyframes slideUp {
  from {
    top: 0; }
  to {
    top: -100%; } }

.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp; }

@media (max-width: 480px) {
  h1 {
    font-size: 2.8rem; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .drawer {
    margin-left: -7vw;
    right: 0px; }
  .tab-item span {
    display: none; }
  .modal-dialog {
    height: 100vh;
    padding: 20px;
    width: 100vw; } }

@media (max-width: 960px) {
  html {
    font-size: 18px; }
  body {
    overflow-x: hidden; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.1rem; }
  aside {
    margin: 20px auto; }
  .img-responsive {
    margin-left: auto;
    margin-right: auto; }
  .nav-menu {
    display: none; }
  .drawer,
  .drawer-menu,
  .drawer-menu ul,
  .drawer-menu li {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .center-on-mobile {
    margin-right: auto !important;
    margin-left: auto !important;
    justify-content: center; }
  .row {
    flex-flow: column; }
  .gutter {
    padding-left: 0;
    padding-right: 0; }
  #menu-principal {
    display: none; }
  #menu-social,
  #menu-btn-topo {
    margin: 20px auto !important; }
  #ultimas-noticias {
    padding: 50px; }
  #galeria-de-fotos h3 {
    font-size: 1.4rem;
    margin: 0 auto 30px; }
  .foto-depoimento-home {
    height: 150px;
    max-width: 150px; }
  .foto-depoimento {
    margin-bottom: 15px; }
  .lei-header,
  .noticia-footer,
  .noticia-resumo {
    flex-flow: row; }
  .data-noticia {
    width: 15%; }
  #formulario .row {
    padding: 0; }
  #formulario .campo-form {
    padding: 10px 0; }
  #formulario input[type="submit"] {
    width: 100%; }
  #foto-do-savanas {
    height: 300px; }
    #foto-do-savanas img {
      margin-top: -180px; }
  .modal-dialog {
    overflow-y: scroll; } }

@media (min-width: 961px) {
  .col-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .col-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .col-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .col-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .col-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .col-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .col-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .col-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .col-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .col-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .col-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .col-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 37%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -35px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

body {
  background-color: #f2f3f9;
  font-size: 16px;
  color: #252A34;
  font-family: 'Montserrat', sans-serif; }

.navbar {
  width: 100%;
  display: block;
  height: 65px;
  position: absolute;
  background-color: #252A34;
  color: #f2f3f9;
  line-height: 65px; }
  .navbar .icon-bar {
    background-color: #f2f3f9; }
  .navbar li a {
    text-transform: uppercase; }

header {
  background: url(../img/header.jpg);
  background-position: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 65px;
  min-height: 300px;
  padding: 10px;
  width: 100%;
  transform: translate3d(0, 0%, 0);
  -webkit-transform: translate3d(0, 0%, 0); }
  header nav ul li {
    list-style: none; }
    header nav ul li a {
      color: #a5d026;
      font-family: Montserrat;
      font-weight: 600; }
  header #pv-logo {
    max-width: 150px; }
  header #menu-social li {
    display: inline;
    list-style: none; }
    header #menu-social li a {
      color: #a5d026; }

label.btn,
label[for^="modal"] {
  cursor: pointer; }

#noticias {
  background-color: #1F2460;
  transition: all .2s; }
  #noticias img {
    width: 100%; }
  #noticias #ultimas-noticias {
    padding-right: 50px;
    padding-left: 50px; }
    #noticias #ultimas-noticias h2 {
      color: #a5d026; }
    #noticias #ultimas-noticias .noticia-home {
      color: #ffffff;
      padding: 5px 0; }
      #noticias #ultimas-noticias .noticia-home h4 {
        cursor: pointer;
        font-size: larger; }
      #noticias #ultimas-noticias .noticia-home span {
        color: #a5d026;
        font-weight: bold; }

#galeria-de-fotos {
  background: url(../img/fundo-galeria.png) #a5d026 no-repeat center left;
  padding: 50px 0; }
  #galeria-de-fotos h3 {
    color: #4b6303;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase; }

#agenda {
  background: url(../img/fundo-agenda.png) #82a51a no-repeat;
  background-position: left;
  padding: 50px 0; }

@media (max-width: 960px) {
  h2 {
    text-align: center; } }

.evento {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  width: 100%; }
  @media (max-width: 960px) {
    .evento {
      flex-direction: column; } }
  .evento .data-evento {
    align-items: center;
    background-color: #4b6303;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px; }
    @media (min-width: 961px) {
      .evento .data-evento {
        margin-right: 10px;
        max-width: 100px; } }
    .evento .data-evento h3 {
      margin-top: -10px; }
    .evento .data-evento b {
      display: block;
      font-size: 220%;
      font-weight: bolder;
      margin-bottom: -20px; }
  .evento .descricao-evento {
    background-color: #ffffff;
    flex-grow: 1;
    padding: 10px; }
    @media (max-width: 960px) {
      .evento .descricao-evento {
        text-align: center; } }
    .evento .descricao-evento h4 {
      color: #4b6303;
      font-weight: bolder;
      font-size: 1.5rem; }

#agenda-container {
  flex-grow: 2; }

#navegacao-agenda {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  text-align: right; }
  @media (max-width: 960px) {
    #navegacao-agenda {
      margin-left: 10px; } }
  #navegacao-agenda .page_link {
    display: none; }
  #navegacao-agenda a {
    padding: 5px; }

#transparencia {
  background: url(../img/fundo-transparencia.png) #1F2460 no-repeat center left;
  background-size: contain;
  color: #FAF405;
  padding: 50px 0; }
  #transparencia h2 {
    font-weight: bold; }
  #transparencia #gastos .gasto-publico {
    background-color: #a5d026;
    color: #1F2460;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: all .2s; }
    #transparencia #gastos .gasto-publico i {
      margin-bottom: 20px; }
    #transparencia #gastos .gasto-publico:first-child {
      margin-left: 0; }
    #transparencia #gastos .gasto-publico:last-child {
      margin-right: 0; }
    #transparencia #gastos .gasto-publico:hover {
      box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
      transform: scale(1.1); }

#depoimentos {
  background: url(../img/fundo-depoimentos.png) #a5d026 no-repeat center left;
  background-size: contain;
  padding: 50px 0; }
  #depoimentos .foto-depoimento-home {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    max-height: 150px;
    width: 90%; }
    #depoimentos .foto-depoimento-home img {
      width: 100%; }
  #depoimentos .depoimento-home {
    background-color: #ffffff;
    padding: 10px; }

#escrever-depoimento {
  padding: 10px 20px;
  font-weight: 600;
  margin: 10px 5px;
  border-radius: 3px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  transition: all .17s ease-in-out;
  cursor: pointer;
  margin-top: -45px;
  position: absolute;
  right: 6.4vw;
  color: #fff;
  background-color: #1f2460; }

.modal form .campo-form {
  padding: 3px 6px; }

.modal form label {
  display: block;
  font-weight: 900;
  text-transform: uppercase; }

.modal form input[type="text"],
.modal form input[type="tel"],
.modal form input[type="email"],
.modal form textarea,
.modal form select {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  display: block;
  padding: 10px;
  width: 100%; }

.modal form label[for="upload"] {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #1F2460;
  border-radius: .4em;
  text-align: center;
  transition: all .3s; }
  .modal form label[for="upload"]:hover {
    cursor: pointer;
    background: #222; }

.modal form input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0; }

.modal form textarea {
  min-height: 80px; }

.modal form input[type="submit"] {
  border: none;
  padding: 10px 20px;
  width: auto; }

#redes-sociais {
  background-color: #1F2460;
  padding: 50px 0; }

#titulo-pagina {
  background-color: #a5d026;
  color: #2c4120;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase; }
  #titulo-pagina h2 {
    font-size: 1.7rem;
    font-weight: 900; }

#titulo-subpagina {
  background-color: #1F2460;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase; }
  #titulo-subpagina h3 {
    font-size: 0.9rem;
    font-weight: 300; }

#leis {
  padding: 50px 0; }
  #leis .lei {
    background: #ffffff;
    padding: 10px; }
    #leis .lei .lei-header {
      align-items: center; }
    #leis .lei .icone-lei {
      margin-right: 10px; }
    #leis .lei h3 {
      color: #f0a000; }

.leia-mais {
  padding-top: 10px; }

.noticia-interna {
  background: #ffffff;
  padding: 20px !important; }
  .noticia-interna .noticia-titulo {
    margin-bottom: 30px; }
    .noticia-interna .noticia-titulo h2 {
      font-size: 2rem;
      margin: 10px auto; }
    .noticia-interna .noticia-titulo sub {
      color: rgba(0, 0, 0, 0.5); }
  .noticia-interna img[align=left] {
    margin-right: 10px; }
    @media (max-width: 960px) {
      .noticia-interna img[align=left] {
        width: 100%;
        margin-bottom: 30px; } }
  .noticia-interna img[align=right] {
    margin-left: 10px; }
    @media (max-width: 960px) {
      .noticia-interna img[align=right] {
        width: 100%;
        margin-bottom: 30px; } }
  .noticia-interna .menu-noticia-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .noticia-interna .menu-noticia-header .acessibilidade {
      align-items: center;
      color: rgba(0, 0, 0, 0.5);
      display: flex; }
    .noticia-interna .menu-noticia-header .icones-noticia-header ul li {
      cursor: pointer;
      display: inline;
      list-style: none;
      padding: 0 5px; }
      .noticia-interna .menu-noticia-header .icones-noticia-header ul li a {
        color: inherit;
        font-weight: 600; }
  .noticia-interna .noticia-body a {
    color: #1F2460; }
  .noticia-interna .noticia-body h4 {
    font-weight: bold; }
  .noticia-interna .noticia-footer {
    margin-top: 30px;
    justify-content: space-between;
    font-size: 0.8rem; }

.tab-group {
  align-items: center;
  background-color: #4f5381;
  display: flex;
  color: #ffffff;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 30px; }
  .tab-group .tab-item {
    border-right: 1px solid rgba(255, 255, 255, 0.21);
    list-style: none;
    padding: 10px;
    text-align: center;
    width: 25%; }
    .tab-group .tab-item a {
      align-items: center;
      color: #ffffff;
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .tab-group .tab-item a.active:after {
        content: "";
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 15px solid #4f5381;
        margin-top: 50px;
        position: absolute; }
    .tab-group .tab-item i {
      display: block;
      font-size: 20px; }
    .tab-group .tab-item span {
      font-size: .9rem; }
    .tab-group .tab-item:last-child {
      border: none; }

.tabs img {
  width: 100%;
  margin-bottom: 20px; }

#atuacao-contas {
  padding: 50px 0; }

.publicidade {
  align-items: center;
  background: #a5d026;
  color: #4b6303;
  display: flex;
  font-weight: 900;
  height: 400px;
  justify-content: center;
  width: 100%; }

.noticia {
  background-color: #ffffff;
  margin-bottom: 30px; }
  .noticia .noticia-thumb img {
    width: 100%; }
  .noticia .data-noticia {
    margin-top: 10px; }
    .noticia .data-noticia b {
      display: block;
      font-size: 2.2rem;
      line-height: 1rem; }
  .noticia .noticia-resumo {
    padding: 25px; }
    .noticia .noticia-resumo .noticia-conteudo {
      margin-left: 10px; }
      .noticia .noticia-resumo .noticia-conteudo h2 {
        color: #f0a000;
        font-weight: 300;
        line-height: 1; }
      .noticia .noticia-resumo .noticia-conteudo sub {
        color: rgba(0, 0, 0, 0.5); }
        .noticia .noticia-resumo .noticia-conteudo sub a {
          color: #f0a000; }
      .noticia .noticia-resumo .noticia-conteudo p {
        font-size: 0.9rem;
        margin: 20px 0; }

#pagina-noticias {
  padding: 50px 0; }
  #pagina-noticias aside {
    background-color: #ffffff;
    border-top: 2px solid #007630;
    border-radius: 5px;
    font-weight: 600; }
  #pagina-noticias #noticias-sidebar-header {
    font-family: Montserrat,sans-serif;
    line-height: 40px;
    padding: 10px;
    padding-top: 13px; }
  #pagina-noticias #noticias-sidebar-body ul li {
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px; }
    #pagina-noticias #noticias-sidebar-body ul li a {
      color: #007630; }

#fale-conosco {
  padding: 50px 0; }
  #fale-conosco #form-contato {
    margin-top: 50px; }
  #fale-conosco #formulario input[type="text"],
  #fale-conosco #formulario input[type="tel"],
  #fale-conosco #formulario input[type="email"],
  #fale-conosco #formulario textarea,
  #fale-conosco #formulario select {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    display: block;
    padding: 10px;
    width: 100%; }
  #fale-conosco #formulario textarea {
    min-height: 80px; }
  #fale-conosco #formulario input[type="submit"] {
    border: none;
    padding: 10px 20px;
    width: auto; }

#perfil-savanas {
  padding: 50px 0; }
  #perfil-savanas #profile #foto-do-savanas {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden; }
    #perfil-savanas #profile #foto-do-savanas img {
      width: 100%; }
  #perfil-savanas #profile .perfil-footer {
    margin-top: 30px;
    justify-content: space-between;
    font-size: 0.8rem; }

#pagina-foto-interna {
  padding: 50px 0; }
  #pagina-foto-interna .foto-container-shadow {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden; }
  #pagina-foto-interna img {
    width: 100%; }
  #pagina-foto-interna .modal-body img {
    margin-bottom: 10px; }

#pagina-depoimentos {
  padding: 50px 0; }
  #pagina-depoimentos .depoimento {
    padding: 10px;
    display: flex;
    flex-flow: row;
    margin-bottom: 30px; }
    @media (max-width: 960px) {
      #pagina-depoimentos .depoimento {
        flex-flow: column; } }
    #pagina-depoimentos .depoimento .foto-depoimento {
      background-color: #1F2460;
      border-radius: 50%;
      box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
      height: 150px;
      overflow: hidden;
      max-height: 150px;
      width: 150px; }
      #pagina-depoimentos .depoimento .foto-depoimento img {
        width: 100%; }
    #pagina-depoimentos .depoimento .conteudo-depoimento {
      background-color: #ffffff;
      border-radius: 10px;
      margin-left: 50px;
      padding: 20px;
      width: 60%; }
      @media (max-width: 960px) {
        #pagina-depoimentos .depoimento .conteudo-depoimento {
          margin-left: 0;
          width: 100%; } }
      #pagina-depoimentos .depoimento .conteudo-depoimento::before {
        content: '';
        border-style: solid;
        border-width: 30px 30px 30px 0;
        border-color: transparent #ffffff transparent transparent;
        height: 0;
        margin-left: -50px;
        margin-top: 28px;
        position: absolute;
        width: 0; }
        @media (max-width: 960px) {
          #pagina-depoimentos .depoimento .conteudo-depoimento::before {
            display: none; } }
  #pagina-depoimentos #formulario-depoimentos {
    background-color: #a5d026;
    margin: 50px 0;
    padding: 20px 50px; }
    #pagina-depoimentos #formulario-depoimentos .campo-form {
      margin: 15px auto; }
    #pagina-depoimentos #formulario-depoimentos label {
      color: #1F2460;
      display: block;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase; }
    #pagina-depoimentos #formulario-depoimentos input[type="text"],
    #pagina-depoimentos #formulario-depoimentos input[type="tel"],
    #pagina-depoimentos #formulario-depoimentos input[type="email"],
    #pagina-depoimentos #formulario-depoimentos textarea,
    #pagina-depoimentos #formulario-depoimentos select {
      background-color: #ffffff;
      border: none;
      border-radius: 5px;
      display: block;
      padding: 15px;
      width: 100%; }
    #pagina-depoimentos #formulario-depoimentos textarea {
      min-height: 80px; }
    #pagina-depoimentos #formulario-depoimentos input[type="submit"] {
      border: none;
      padding: 10px 20px;
      width: auto; }

#page_navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center; }
  #page_navigation a {
    background: white;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding: 10px; }
    #page_navigation a:first-child {
      border-left: 1px solid #e8e8e8;
      border-radius: 5px 0 0 5px; }
    #page_navigation a:last-child {
      border-radius: 0 5px 5px 0; }

#pagina-galeria {
  padding: 50px 0; }
  #pagina-galeria #galeria-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
  #pagina-galeria img {
    width: 100%; }
  #pagina-galeria .foto {
    background: #ffffff;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden; }
    #pagina-galeria .foto-header {
      background: #ddd;
      display: block;
      min-width: 200px;
      min-height: 150px;
      width: 100%; }
    #pagina-galeria .foto-info {
      align-items: center;
      display: flex;
      padding: 10px; }
    #pagina-galeria .foto .icone-foto {
      background: #E2E8F4;
      border-radius: 5px;
      color: #274472;
      font-size: 2rem;
      margin-right: 10px;
      max-width: 80px;
      text-align: center; }
    #pagina-galeria .foto h3 {
      color: #f0a000; }
  #pagina-galeria .modal-body img {
    margin-bottom: 10px; }

#pagina-videos {
  padding: 50px 0; }
  #pagina-videos #videos-content {
    display: flex;
    flex-flow: row wrap; }
  #pagina-videos .row > .gutter {
    padding-bottom: 10px;
    padding-top: 10px; }
  #pagina-videos img {
    width: 100%; }
  #pagina-videos .video {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden; }
    #pagina-videos .video-header {
      background: #ffffff;
      display: block;
      min-width: 200px;
      width: 100%; }
    #pagina-videos .video-info {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 10px; }
    #pagina-videos .video .icone-foto {
      margin-right: 10px; }
    #pagina-videos .video h4 {
      color: #f0a000;
      text-align: center; }

footer {
  background-color: #a5d026;
  padding: 20px 0;
  clear: both;
  bottom: 0; }
  footer nav ul li {
    display: inline;
    padding: 10px;
    font-weight: bold; }
  footer #logo-vmais {
    margin-top: 30px;
    max-height: 27px;
    max-width: 65px; }

.slider {
  width: 100%;
  margin: 10px auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 35px; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2; }

.slick-active {
  opacity: .5; }

.slick-current {
  opacity: 1; }

.drawer-menu li a {
  color: #a5d026; }

.btn-default {
  color: #ffffff;
  background-color: #1F2460; }
  .btn-default a {
    color: inherit; }

.btn-vermelho {
  color: #ffffff;
  background-color: #cc0606; }
  .btn-vermelho a {
    color: inherit; }

.btn-verde {
  color: #ffffff;
  background-color: #a5d026; }
  .btn-verde a {
    color: inherit; }

.btn-azul {
  color: #ffffff;
  background-color: #1F2460; }
  .btn-azul a {
    color: inherit; }

@media (max-width: 960px) {
  #escrever-depoimento {
    display: block;
    margin: 20px auto;
    position: relative;
    right: auto; } }
